body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

nav{
display:flex;
justify-content:space-between;
background:#2c3e50;
color:white;
padding:10px 30px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.container{
width:80%;
margin:auto;
padding:20px;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}

form{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:8px;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px 20px;
background:#3498db;
color:white;
border:none;
cursor:pointer;
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #ddd;
}